@model BTL_LaptrinhWeb_BanSach.Models.khachhang

@{
    ViewBag.Title = "DeleteU";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<center><h3>Có chắc muốn xóa người dùng này?</h3></center>

<div>
    <hr />
    <dl class="dl-horizontal" style=" margin: 20px 200px 0px 50px">
        <dt>
            Tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDN)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matkhau)
        </dd>

        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotenKH)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiachiKH)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienthoaiKH)
        </dd>

        <dt>
            Ngày sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>

        <dt>
            Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Quyền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quyen)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác nhận" class="btn btn-default" /> |
        </div>
    }
    <div>
        @Html.ActionLink("Quay lại", "ListUser")
    </div>
</div>
